<div class="pushnotify">
    <span>Enable notifications</span>
    <input type="checkbox" id="push_notify" /><label for="push_notify"></label>
</div>
<div class="container">
    <div class="row row-centered">
        <!-- dynamic content -->
    </div>
    <div class="updateTime"></div>
    <!--<footer>
        <div class='twitter_share'>
            <a href="https://twitter.com/share" class="twitter-share-button" {count} data-text="Check out the simple progressive web app using service worker."
                data-via="divp3" data-hashtags="serviceworker">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            <a href="https://twitter.com/divp3" class="twitter-follow-button" data-show-count="false">Follow @divp3</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <div class='flaticon'>
            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com"
                title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
        </div>

    </footer>-->
</div>