<div class="jumbotron">
  <div class="container">
    <h1>My Veggies!</h1>
    <p>Simple progressive web app to know your veggies/fruits price around Bangalore, India.</p>
  </div>
</div>

<router-outlet></router-outlet>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="https://twitter.com/divagar_m" target="_blank">
              <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/divagar" target="_blank">
              <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; My Veggies 2016</p>
      </div>
    </div>
  </div>
</footer>