/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.jumbotron {
  background-color: #67be78 !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  margin: 1px;
}

.row-centered {
   text-align:center;
}

.col-centered {
  display: inline-block;
  float: none;
}

.veggies-header h3 {
  text-align: center;
  margin-top: 0px;
  font-size: 160% !important;
}

.veggies-header hr {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 55%;
}

.veggies-header h6 {
  text-align: center;
  font-style: italic;
}

.veggies-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height:auto;
}

.veggies-header .price {
  font-size: 110%;
  text-align: center;
}

.updateTime {
  text-align: center;
  padding-top: 10px;
  font-style: italic;
}

footer {
  padding-top: 15px;
}

footer .flaticon {
  font-size: 12px;
}

/*checkbox push notification*/
div.pushnotify {
  padding-bottom: 1%;
  /* disabling for now */
  display: none;
}

div.pushnotify span {
  float: right;
  position: relative;
  padding-right: 2%;
  padding-left: .5%;
  font-style: italic;
}

input#push_notify:not(:checked), 
input#push_notify:checked { 
  opacity: 0;
}

input#push_notify + label {
  width: 47px;  
  height: 23px; 
  border-radius: 999px;
  /*margin: 0 auto .8em;*/
  background: #DDDDDD;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width;
  /*display: block;*/
  float: right;
}

input#push_notify:checked + label {
  padding-left: 24px;
  /*width: 23px;*/
  background-color: #97CD74;
}

input#push_notify + label:before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  margin: 3px;
  border-radius: inherit;
  background: white;
}

input#push_notify:active + label,
input#push_notify:focus + label {
  box-shadow: 0 0 .3em 1px lightgray,  0 1px 1px hsla(0,0%,100%,.8);
}