.jumbotron {
  background-color: #67be78 !important;
  padding-top: 25px !important;
  padding-bottom: 20px !important;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  margin: 4px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.veggies-header h3 {
  text-align: center;
  margin-top: 0px
}

.veggies-header hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.veggies-header h6 {
  text-align: center;
  font-style: italic;
}

.veggies-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.veggies-content .price {
  /*float: right;*/
  margin-top: -7%;
  margin-left: -5%;
  position: absolute;
  background: lightgray;
  padding: 2%;
  border-radius: 10px;
}


/*checkbox*/
div.pushnotify {
  padding-bottom: 1%;
  /* disabling for now */
  display: none;
}

div.pushnotify span {
  float: right;
  position: relative;
  padding-right: 2%;
  padding-left: .5%;
  font-style: italic;
}

input#push_notify:not(:checked), 
input#push_notify:checked { 
  opacity: 0;
}

input#push_notify + label {
  width: 47px;  
  height: 23px; 
  border-radius: 999px;
  /*margin: 0 auto .8em;*/
  background: #DDDDDD;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width;
  /*display: block;*/
  float: right;
}

input#push_notify:checked + label {
  padding-left: 24px;
  /*width: 23px;*/
  background-color: #97CD74;
}

input#push_notify + label:before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  margin: 3px;
  border-radius: inherit;
  background: white;
}

input#push_notify:active + label,
input#push_notify:focus + label {
  box-shadow: 0 0 .3em 1px lightgray,  0 1px 1px hsla(0,0%,100%,.8);
}
 